{% layout "navbar.liquid" %}

{% block content %}
<div class="lg:container lg:mr-auto">


    <!-- Title and Category -->
    <div class="flex ">
        <div class="justify-center md:justify-start">
            <h1 class="text-4xl text-purple-500 font-bold uppercase m-4 underline">
                {{ product.title }}
            </h1>
        </div>
        <div class="flex-wrap ml-auto m-2">
            <p class="font-medium text-sm"> 
                Category: 
            </p>
            <!-- This is the styled button for category -->
            <button type="button" class="
                p-1
                text-blue-500 font-bold uppercase text-sm
                border border-solid border-purple-500
                hover:bg-purple-500 hover:text-white
                rounded outline-none focus:outline-none
                ease-linear transition-all duration-150
                ">
                    {% assign foo = product.handle | split:"-" %}
                    {{ foo[0] }}
            </button>
        </div> 
    </div>



    <!-- Product section split into left and right on lg -->
    <div class="flex flex-col lg:flex-row"> 

        <!-- Left Side with photos -->
        <div class="lg:w-1/2 mx-2 lg:ml-12">
            <img class="ml-auto md:mr-28 z-0" src="{{product.featured_image }}" alt="shoe image">
            <div class="flex justify-around -mt-16 z-10 overflow-scroll">
                {% for image in product.images %}
                    <img class="max-h-20 max-w-20 mx-4" src={{ image }} alt="shoe image">
                {% endfor %}
            </div>
        </div>


        <!-- Right Side Section -->
        <div class="lg:w-1/2 mx-2 my-auto">
            <!-- The description section responsive to screen, truncates text -->
            <div class="short-description">
                <span>
                    {{ product.description | truncate:150 }}
                </span>
            </div>
            <div class="long-description">
                <span>
                    {{ product.description }}
                </span>
            </div>

            <!-- Select size section, price, add to cart -->
            <div class="flex py-4 justify-center items-center">
                <div class="inline-block mx-16">
                    <p class="font-bold"> Price: </p>
                    <p> ${{ product.price | divided_by:100}} </p>
                </div>
                <div class="inline-block mx-4">
                    <p class="font-semibold"> Sizing: </p>
                    <select class="p-2">
                        {% for option in product.variants %}
                            <option value={{ option.options }}> {{ option.options }} </option>
                        {% endfor %}                    
                    </select>
                </div>
                <div class="mx-4">
                    <button class="bg-blue-500 p-2 rounded text-white" type="button">
                        Purchase
                    </button>
                </div>
            </div>
        </div>
    </div>



</div>
{% endblock %}